<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Predix.ai</title>
</head>
<body>
    <div class="container">
        <h1>Add Article Predix.ai App</h1>
        <form action="{{ url_for('add_article') }}" method="post">
        <div class="form-group">
            <input type="text" class="form-control" id="images" name="images" placeholder="Input Image URL">
        </div><br>
        <div class="form-group">
            <input type="text" class="form-control" id="title" name="title" placeholder="Input Article Title">
        </div><br>
        <div class="form-group">
            <textarea id="content" class="form-control" row="5" name="content" placeholder="Input Article Content"></textarea>
        </div><br>
        <div class="form-group">
            <input class="btn btn-primary" type="submit">
        </div>
    </div>
</form>
</body>
</html>
